@import "tailwindcss";
@import "tw-animate-css";

:root {
    --primary-100: #FFFAF8;
    --primary-200: #FFF5F0;
    --primary-300: #FFE1D4;
    --primary-400: #FFB99C;
    --primary-500: #F89267;
    --primary-600: #E47B4E;
    --primary-700: #B6552C;
    --primary: #F89267;

    --secondary-200: #F3F6FF;
    --secondary-300: #6280F6;
    --secondary-400: #0E2CA3;
    --secondary-500: #041558;
    --secondary-700: #030D34;

    --tertiary-100: #FEFEFE;
    --tertiary-200: #F8F8F8;
    --tertiary-300: #D8D8D8;
    --tertiary-500: #9D9D9D;
    --tertiary-600: #585858;
    --tertiary-700: #414141;

    --radius: 1rem;

    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.5rem;
    --fs-2xl: 2rem;
    --fs-3xl: 2.5rem;
    --fs-4xl: 3rem;
    --fs-5xl: 3.75rem;
    --fs-6xl: 4.5rem;
    --fs-7xl: 6rem;

    --sp-0: 0px;
    --sp-1: 0.25rem;
    --sp-2: 0.5rem;
    --sp-4: 1rem;
    --sp-8: 2rem;
    --sp-16: 4rem;
    --sp-32: 8rem;

    --bp-xs: 480px;
    --bp-sm: 640px;
    --bp-md: 768px;
    --bp-lg: 1024px;
    --bp-xl: 1280px;
    --bp-2xl: 1536px;

    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

@theme {
    --radius-xs: 10px;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --radius-2xl: calc(var(--radius) + 8px);
    --radius-3xl: calc(var(--radius) + 14px);

    --color-primary: var(--primary);
    --color-primary-100: var(--primary-100);
    --color-primary-200: var(--primary-200);
    --color-primary-300: var(--primary-300);
    --color-primary-400: var(--primary-400);
    --color-primary-500: var(--primary-500);
    --color-primary-600: var(--primary-600);
    --color-primary-700: var(--primary-700);

    --color-secondary-100: var(--secondary-100);
    --color-secondary-200: var(--secondary-200);
    --color-secondary-300: var(--secondary-300);
    --color-secondary-400: var(--secondary-400);
    --color-secondary-500: var(--secondary-500);
    --color-secondary-600: var(--secondary-600);

    --color-tertiary-100: var(--tertiary-100);
    --color-tertiary-200: var(--tertiary-200);
    --color-tertiary-300: var(--tertiary-300);
    --color-tertiary-400: var(--tertiary-400);
    --color-tertiary-500: var(--tertiary-500);
    --color-tertiary-600: var(--tertiary-600);

    --text-xs: var(--fs-xs);
    --text-sm: var(--fs-sm);
    --text-base: var(--fs-base);
    --text-lg: var(--fs-lg);
    --text-xl: var(--fs-xl);
    --text-2xl: var(--fs-2xl);
    --text-3xl: var(--fs-3xl);
    --text-4xl: var(--fs-4xl);
    --text-5xl: var(--fs-5xl);
    --text-6xl: var(--fs-6xl);
    --text-7xl: var(--fs-7xl);

    --spacing-0: var(--sp-0);
    --spacing-1: var(--sp-1);
    --spacing-2: var(--sp-2);
    --spacing-4: var(--sp-4);
    --spacing-8: var(--sp-8);
    --spacing-16: var(--sp-16);
    --spacing-32: var(--sp-32);

    /* --breakpoint-xs: var(--bp-xs);
    --breakpoint-sm: var(--bp-sm);
    --breakpoint-md: var(--bp-md);
    --breakpoint-lg: var(--bp-lg);
    --breakpoint-xl: var(--bp-xl);
    --breakpoint-2xl: var(--bp-2xl); */

    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

